body {
  color: green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  /* position: relative; */
  /* border: 5px solid #f00; */
  border-radius: 50%;
}

img {
  border-radius: 50%;
}

/* .button:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -11px;
    right: 5px;
    bottom: 87px;
    border: 56px solid #252523;
    border-radius: 50%;
} */