body {
  color: green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  /* position: relative; */
  /* border: 5px solid #f00; */
  border-radius: 50%;
}

.nav-img {
  /* width: "200"; */
  border-radius: 100%;
  width: 30px;
  height: auto;
  margin-left: auto;
  margin-right: 10px;
}

.circle-img {
  border-radius: 50%;
  width: 20%;
  height: auto;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: right;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}


.pic {
  width: 200px;
  height: auto;
  position: relative;
  display: inline-block;
}

.pic:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
  display: block;
  border-radius: 50%;
}

.pic:hover .info {
  display: block;
}

.overlay {
  display: none;
}

.info {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
}

/* .button:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -11px;
    right: 5px;
    bottom: 87px;
    border: 56px solid #252523;
    border-radius: 50%;
} */