body {
  color: #c0c5c1;
  background-color: black;
  font-family: Chalkduster, fantasy;
  font-size: larger;
}

html {
  cursor: url("cursor.jpeg"), auto;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.button {
  border-radius: 50%;
}

.nav-img {
  -webkit-filter:invert(100%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
  width: 30px;
  height: auto;
  /* margin-left: auto; */
  /* margin-right: 0; */
}

.circle-img {
  border-radius: 50%;
  width: 450px;
  height: auto;
}

#navbar {
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  /* transition: top 0.3s; */
}

/* #navbar a {
  float: left;
  display: block;
  color: white;
  text-align: right;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
} */

img.darker {
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

img.darker:hover {
  filter: brightness(50%);
}


.container {
  /* You can set this to whatever you wish. */
  /* width: 400px; */
  
  /* You'll need to set a height. */
  /* height: 400px; */
  
  /* Allows positioning relative to this container. */
  position: relative;
  
  /* For clarity. */
  border: 1px solid black;
}

.box {
  position: absolute;
}

.box#one {
  width: 500px;
  height: 500px;
  
  top: 20px;
  left: 60px;
}

.box#two {
  width: 90px;
  height: 100px;
  background: blue;
  
  top: 50px;
  right: 650px;
}

.box#three {
  width: 67px;
  height: 76px;
  background: purple;
  
  bottom: 700px;
  left: 878px;
}

.box#four {
  width: 150px;
  height: 160px;
  background: yellow;
  
  top: 903px;
  left: 800px;
}

.box#five {
  width: 70px;
  height: 50px;
  background: orange;
  
  top: 910px;
  left: 845px;
}